body {
    background-color: #ef72fa;
    background-image: linear-gradient(to top, #ef72fa 65%, transparent 75%), url(res/shapka.jpg);
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    background-color: rgb(89, 131, 248);
    margin-inline: 5%;
    margin-top: 550px;
    margin-bottom: 20px;
    min-height: 100vh;                  /* vh - viewport height - 1% от высоты экрана */
    border: 3px;
    border-top-color: blue;
    border-left-color: blueviolet;
    border-right-color: brown;
    border-bottom-color: chocolate;
    border-style: solid;
    padding: 5px;
    text-align: center;
}

